.auth {
    display: flex;
    align-items: center;
    flex-direction: column;

    .ui.form {
        min-width: 320px;
        height: 55vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border: 2px gray solid;
        border-radius: 5px;

        span {
            width: 95%;
        }

        h2 {
            width: 80%;
            text-align: center;
        }

        background-color: rgb(199, 199, 199);
        padding: 0 15px;
    }

    .horizontal.divider {
        margin: 30px 0 20px 0;
    }
}

.login {
    height: 45vh !important;
}