.default-message {
    width: 100%;
    height: 50px;
    margin: 5px 0;

    display: flex;
    align-items: center;

    .profile-wrapper {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        span {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s all;
            opacity: 0;
            color: white;

            background-color: rgba(0, 0, 0, 0.651);
        }

        img {
            height: 80%;
            object-fit: fill;
            border-radius: 5px;
            border: 2px rgb(157, 157, 157) solid;
        }
    }

    .message-reply-wrapper {
        height: 45px;
        max-width: 76%;
        position: relative;

        .message-wrapper {
            height: 45px;
            background-color: rgb(222, 222, 222);
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            z-index: 2;
    
            position: relative;
            .username-holder {
                position: absolute;
                font-size: 12px;
                display: none;
                
            }
            
        }

        
    }

    .icon {
        margin: 0 5px;
        color: gray;   
        display: none; 
    }
    .icon:hover {
        cursor: pointer;
        color: rgb(97, 97, 97);
    }
}

.default-message:hover {
    .icon {
        display: block;
    }
}

.notOwn {
    .message-reply-wrapper {
        .reply-wrapper {
            position: absolute;
            top: -27px;
            min-width: 120px;
            left: 15px;

            width: max-content;
            background-color: rgb(236, 236, 236);
            padding: 7px;
            border-radius: 5px;
            border: 1px rgb(228, 228, 228) solid;

            p {
                width: 100%;
                text-align: center;
            }
        }
        .replied-to {
            position: absolute;
            top: -17px;
            left: 5px;
            font-size: 11px;
        }
    }
}

.own {
    flex-direction: row-reverse;

    .profile-wrapper {
        display: none !important;
    }
    .message-reply-wrapper {
        .message-wrapper {
            margin-right: 10px;
        }

        .reply-wrapper {
            position: absolute;
            top: -27px;
            right: 15px;

            width: max-content;
            min-width: 120px;
            background-color: rgb(236, 236, 236);
            padding: 7px;
            border-radius: 5px;
            border: 1px rgb(228, 228, 228) solid;

            p {
                width: 100%;
                text-align: center;
            }
        }
        .replied-to {
            position: absolute;
            top: -17px;
            left: 5px;
            font-size: 11px;
        }
    }
}

.quick-message {
    .profile-wrapper {
        opacity: 0;
        cursor: default !important;
    }
}

.lone.notOwn, .first.notOwn {
    margin-top: 16px;

    .message-reply-wrapper {
        .message-wrapper {
            .username-holder {
                display: block;
                top: -17px;
                left: 5px;
            }
        }
    }
}

.first {
    margin-bottom: -3px;
    .message-wrapper {
        border-radius: 5px 5px 5px 0;
    }
}
.first.own {
    .message-wrapper {
        border-radius: 5px 5px 0 5px !important;
    }
}

.middle {
    margin: -3px 0;
    .message-wrapper {
        border-radius: 0 5px 5px 0;

        .username-holder {
            display: none !important;
        }
    }
}
.middle.own {
    .message-wrapper {
        border-radius: 5px 0 0 5px !important;
    }
}

.last {
    margin-top: -3px;
    .message-wrapper {
        border-radius: 0 5px 5px 5px;
        .username-holder {
            display: none !important;
        }
    }
}
.last.own {
    .message-wrapper {
        border-radius: 5px 0 5px 5px !important;
    }
}

.date-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    span {
        width: 35%;
        height: 1px;
        border: 1px rgb(219, 219, 219) solid;
    }

    p {
        margin: 0;
        color: rgb(190, 188, 188);
    }
}

.replying-at {
    border: 3px gray solid;
}