.default-message {
    width: 100%;
    height: 50px;
    margin: 5px 0;

    display: flex;
    align-items: center;

    .profile-wrapper {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        span {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s all;
            opacity: 0;
            color: white;

            background-color: rgba(0, 0, 0, 0.651);
        }

        img {
            height: 80%;
            object-fit: fill;
            border-radius: 5px;
            border: 2px rgb(157, 157, 157) solid;
        }
    }

    .profile-wrapper:hover {
        cursor: pointer;
        span {
            opacity: 1;
        }
    }

    .message-wrapper {
        height: 50px;
        width: auto;
        background-color: rgb(222, 222, 222);
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        height: 90%;
    }
}

.own {
    flex-direction: row-reverse;
}

.quick-message {
    .profile-wrapper {
        opacity: 0;
        cursor: default !important;
    }
}

.first {
    margin-bottom: -3px;
    .message-wrapper {
        border-radius: 5px 5px 5px 0;
    }
}
.first.own {
    .message-wrapper {
        border-radius: 5px 5px 0 5px !important;
    }
}

.middle {
    margin: -3px 0;
    .message-wrapper {
        border-radius: 0 5px 5px 0;
    }
}
.middle.own {
    .message-wrapper {
        border-radius: 5px 0 0 5px !important;
    }
}

.last {
    margin-top: -3px;
    .message-wrapper {
        border-radius: 0 5px 5px 5px;
    }
}
.last.own {
    .message-wrapper {
        border-radius: 5px 0 5px 5px !important;
    }
}

.date-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    span {
        width: 35%;
        height: 1px;
        border: 1px rgb(219, 219, 219) solid;
    }

    p {
        margin: 0;
        color: rgb(190, 188, 188);
    }
}